<mat-card>
    <mat-card-title>
        Sheldon's Team Check Component
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>
                Favorite Team
            </mat-label>
            <input
                matInput
                type="text"
                [(ngModel)]="userInput"
                (keydown.enter)="checkTeamNames()"
            />
        </mat-form-field>
        &nbsp;
        <button
            mat-raised-button id="sw-button"
            (click)="checkTeamNames()"
        >
          Check  
        </button>
        &nbsp;
        {{ result }}
    </mat-card-content>
</mat-card>